/************************************************/
/*************     INITIALIZE      **************/
/***********************************************/
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: RGB(240,237,229);
}

div {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 auto;
}


nav { 
	list-style-type: none;
 	margin: 20px 0;	
 	
}

nav ul {list-style-type: none;}



/************************************************/
/*************     BODY      **************/
/***********************************************/



.rounded {
	width: 100px;
	display: block;
	border-radius: 50%;
	border: 2px solid #F6B025;
	margin: auto;
}

.rounded:hover {
  opacity: 0.5;
  }

.roundedbig {
	width: 150px;
	display: block;
	border-radius: 50%;
	border: 2px solid #F6B025;
	margin: auto;
}

.roundedbig:hover {
  opacity: 0.5;
  }




/************************************************/
/*************     HEADER      **************/
/***********************************************/






#welcome {
	height: 140px;
	width: 140px;
	overflow: hidden;
	border-radius: 50%;
	margin: auto;
	position: relative;
	border: 3px solid #F6B025;
	margin: auto;
	float:left;
}

.hidden_message {
	display: none;
	background-color: #F6B025;
	opacity: 0.8;
	position: absolute;
	border-radius: 50%;
	height: 100%;
	margin: auto;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
	
}


.hidden_message p {
	margin-top: 46%;
	text-align: center;
	font-size: 20px;
	font-family: "Dosis", sans-serif;
	font-weight: bold;
	color: white;
}

#welcome:hover .hidden_message{
	display: block;
}



.pastille_logo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.pastille {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}


#welcome {
	height: 140px;
	width: 140px;
	overflow: hidden;
	border-radius: 50%;
	margin: auto;
	position: relative;
	border: 3px solid #F6B025;
	margin: auto;
	float:left;
}

.hidden_message {
	display: none;
	background-color: #F6B025;
	opacity: 0.8;
	position: absolute;
	border-radius: 50%;
	height: 100%;
	margin: auto;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
	
}


.hidden_message p {
	margin-top: 46%;
	text-align: center;
	font-size: 20px;
	font-family: "Dosis", sans-serif;
	font-weight: bold;
	color: white;
}

#welcome:hover .hidden_message{
	display: block;
}





#vert
{color: #88D8C5;}

header {
	font-weight: bold;
	clear:both;
	position:fixed;
	top:0;
	width:100%;
	background-color: #F5C159;
	height: 70px;
	z-index: 1;
}





/****** OVERRIDE NAVBAR *******************/

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

.navbar-default {
/* background-color: #f8f8f8; */
 border-color: transparent;
}

.navbar li {
	color: #F3F4F3; 
	font-size: 16px;
	font-family: "Dosis", sans-serif;
}

.navbar {
	line-height: 50px;
	float:left;
}


.navbar-transparent .navbar-nav > li > a:hover{
	color: #88D8C5; 
	font-size: 16px;
	font-family: "Dosis", sans-serif;
	font-weight: bold;
	background: none;
	
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus 

{
	color: #555;
	background-color: RGB(240,237,229);
	color: #88D8C5; 
	font-size: 16px;
	font-family: "Dosis", sans-serif;
	font-weight: bold;	
}	


.navbar-nav li {
	border-radius: 5px;
}

/************************************************/
/*************     Repère     **************/
/***********************************************/



.repere {	
	font-weight: bold;
	background-color: #F5C159;
	/*opacity: 0,8;*/
	/*clear:both;
	position:fixed;
	bottom:0;
	width:100%;*/
	margin-top:60px;
}


.contacter {
	float:right;
}

.centre {
	padding-top: 10px;
}

.sousmenu{
	border: 1px solid transparent;
	/*display: inline-block;*/
	text-decoration: none; 
	margin-right:20px;
	/*border-right: 1px solid white;*/
	color:white;
	font-weight: bold;
	/*font-size: 14px;*/
	transition: font-size 0.5s ease;
	font-size: 1.5rem;
}

body > div:nth-child(1) > header > div.col-xs-4 > ul > li{
	margin: 10px 10px;
	/*font-size: 14px;*/

	line-height: 2rem;

}


.sousmenu:hover {
	/*display: inline-block;*/
	text-decoration: none; 
	font-size: 2,5rem;
	/*font-size: 18px;*/
	margin-right: 20px;
	/*border: 1px solid white;*/
	background-color: #F5C159;
	opacity: 0,5;
	margin-bottom: 15px;
	color: white;
}

.sousmenu a:hoover {
	color: white;
}

#space{
	margin-left: 40px
}

.orange_clair{color:#F6B025;}



/*.logopart{margin: 60px 60px 60px 100px;}*/
.logopart{
	margin-top: 80px;
}

@media (max-width: 320px) {  /*small mobile*/
  .logopart img {
    width:80%;
  }
}

.btn {
display: inline-block;
/* padding: 6px 12px; */
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 0.428571;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
/* background-color: transparent; */
}



/* h1 ***************************************/


.background_green {
	position: relative;
	width: 100%;
	margin-top: 70px;
}

.mask {
	background-color: rgba(13,13,12,0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
} 

.background_green img {width: 100%;}

@media (max-width:959px) {
	.background_green {
		width: 100%;
	}
}




.blanc {
	background: #white;
	height : 12px;
}

.home_page_title {
	font-family: "Dosis", sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: #F6B025;
	line-height: 100px;
}




/* video ***************************************/


.video_followher {
	background-image: url("images/camera.jpg");
	height: 100%; 
}

.our_video {
	padding-top: 30px;
}




/* equipe ******************************/
.fondecran {
	background:
	radial-gradient(
		rgba(244,243,244,0.2),
		rgba(244,243,244, 0.2)
		),
	url("images/pattern.jpg"); 
	position:fixed;
	top:0;
}


.passion{list-style-type: none;
margin-top: 10px;
padding-left: 0px;
}


.presentation_equipe{
	font-family: 'PT Sans Narrow', sans-serif;
	margin-top: 30px;
}

.intro{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 24px;
	color: #454545;
	text-align: center;

}

.titre_vert{
	font-family: "Dosis", sans-serif;
	font-size: 22px;
	color: #88D8C5;
	font-weight: bold;
	padding-left: 20px;
	margin-bottom: 30px;

}

.titre_orange{
	font-family: "Dosis", sans-serif;
	font-size: 22px;
	color: #F6B025;
	font-weight: bold;
	padding-left: 20px;
	margin-bottom: 30px;

}

.prenom_vert{
	font-family: "Dosis", sans-serif;
	font-size: 18px;
	color: #88D8C5;
	font-weight: bold;
	text-align: center;
}
.prenom_gris{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	color: #454545;
	text-align: justify;

}

.corps_gris {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	color: #454545;
}

.bordure_orange {
	border: 1px solid #F6B025;
}

.bordure_vert {
	border: 1px solid #88D8C5;
}

@media (max-width: 320px) {  /*small mobile*/
  .bordure {
    font-size:12px;
  }
}

.prez{
	margin-top: 120px;
}


.parent2 {
	width: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
	position: relative;
}
.hidden_message2{
	display:none;
	background-color: #F6B025 ;
	opacity: 0.8;
	position: absolute;
	height: 100%;
	border-radius: 50%;
	margin:auto;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
	font-family: "Dosis", sans-serif;
	font-weight: bold;

}

.hidden_message2 p {
	margin-top: 40px;
	text-align: center;
	font-weight: bold;
}

.parent2:hover .hidden_message2{
	display: block;
}

.aside_right {float:right;}
.aside_left{float:left;}
/* live ***************************************/

/* .live{
	background:
	radial-gradient(
		rgba(255,255,255,0.5),
		rgba(255,255,255, 0.5)
		),
	url("images/live.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color:black;
} */



/*partenaires ***************************************/

/*.partenaires{
	background:
	radial-gradient(
		rgba(255,255,255,0.5),
		rgba(255,255,255, 0.5)
		),
	url("images/partenaires.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color:black;
	height:600px;
} */

.bottom_down {
	background-color: RGB(240,237,229);
	width: 100%;
	height: 60px;
}


/* page projet.follow'her ***************************************/
 #us {
 	margin-top: 100px
 }

 #pics {
 	padding-top: 30px;
 }

 .team_pic {padding: 20px;
 	padding-bottom: 90px}

#rond

	{
	/* margin-left: 30px; */
	/* margin-right: 30px; */
	text-align: center;
	border: 1px solid #F6B025;
	border-radius: 50%;
	color: RGB(240,237,229);
	background-color: #F6B025;
	/* margin-top: 5px; */
	margin: auto;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding-bottom: 70px;
}

#sous_titre_vert{
	font-family: "Dosis", sans-serif;
	font-size: 18px;
	color: #88D8C5;
	font-weight: bold;
}

#home_page_title_part{
	font-family: "Dosis", sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: #F6B025;
	}


.steps {
	margin-top: 50px;
}

.steps ul{
	list-style-type: none;
}

.steps ul li {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	color: #454545;
	margin-bottom: 40px;
}

.trip {
	margin-top: 10px
}

@media (max-width : 600px) {
	.trip {
		width: 100%;
	}
}

.trip p {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	color: #88D8C5;
}


/** .pattern {
	position: relative;
	width: 100%;
	margin-top: 70px;
	background-position: fixed;
	top:0;
}

.mask {
	background-color: rgba(13,13,12,0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
} 

.pattern img {width: 100%;}

@media (max-width:959px) {
	.pattern {
		width: 100%;
	}
}
**/



