/************************************************/
/*************     INITIALIZE      **************/
/***********************************************/
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F3F4F3;
}

div {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 auto;
}


nav { 
	list-style-type: none;
 	margin: 20px 0;	
 	
}

nav ul {list-style-type: none;}

/************************************************/
/*************     BODY      **************/
/***********************************************/



.rounded {
	width: 80px;
	display: block;
	border-radius: 50%;
	border: 2px solid #F6B025;
	margin: auto;
}

.rounded:hover {
  opacity: 0.5;
  }




/************************************************/
/*************     HEADER      **************/
/***********************************************/

.background_green {
	background:
	radial-gradient(
		rgba(255,255,255,0.5),
		rgba(255,255,255, 0.5)
		),
	url("images/women.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height:500px;
}

.pastille {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}


.parent {
	height: 160px;
	width: 160px;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
	position: relative;
	border: 3px solid #F6B025;
	margin: auto;
}

.hidden_message{
	display: none;
	background-color: #F6B025;
	opacity: 0.8;
	position: absolute;
	height: 100%;
	border-radius: 50%;
	margin: auto;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
}

.hidden_message p {
	margin-top: 46%;
	text-align: center;
}

.parent:hover .hidden_message{
	display: block;
}





#vert
{color: #88D8C5;}

.barnav {
	border: 2px solid black;
	/*width: 700px;*/
	/*height: 100px;*/
	/*line-height: 60px;*/
	/*margin: 40px;*/
}

/* h1 ***************************************/

.blanc {
	background: #white;
	height : 12px;
}

.home_page_title {
	font-family: "Dosis", sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: #F6B025;
	line-height: 100px;
}


/* video ***************************************/
.video_followher{
	background:
	radial-gradient(
		rgba(255,255,255,0.5),
		rgba(255,255,255, 0.5)
		),
	url("images/youtube.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	/*opacity:0.5;*/
	height:513px;	
}

.video{
	margin:auto;
	text-align: center;
}

@media (max-width: 320px) {  /*small mobile*/
  .iframe {
    width: 300px;
  }
}

/* équipe ***************************************/

.equipe_followher{
	background-image: url("images/equipe.png");
	background-size: cover;
	background-repeat: no-repeat;
	color:black;
	height:800px;
}

.passion{list-style-type: none;
margin-top: 10px;
}

.presentation_equipe{
	font-family: 'PT Sans Narrow', sans-serif;
	margin-top: 30px;
}

.intro{
	font-family: 'Reenie Beanie', cursive;
	font-size: 24px;
	color: #454545;
	text-align: center;

}

.titre_vert{
	font-family: "Dosis", sans-serif;
	font-size: 22px;
	color: #88D8C5;
	font-weight: bold;
	padding-left: 20px;
}

.prenom_vert{
	font-family: "Dosis", sans-serif;
	font-size: 18px;
	color: #88D8C5;
	font-weight: bold;
	text-align: center;
}
.prenom_gris{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	color: #454545;
	text-align: justify;

}

.corps_gris {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	color: #454545;
}

.bordure {
	border: 1px solid #F6B025;
}

@media (max-width: 320px) {  /*small mobile*/
  .bordure {
    font-size:12px;
  }
}

.prez{
	margin-top: 30px;
}


.parent2 {
	width: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
	position: relative;
}
.hidden_message2{
	display:none;
	background-color: #F6B025 ;
	opacity: 0.8;
	position: absolute;
	height: 100%;
	border-radius: 50%;
	margin:auto;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
}

.hidden_message2 p {
	margin-top: 40px;
	text-align: center;
	font-weight: bold;
}

.parent2:hover .hidden_message2{
	display: block;
}

/* live ***************************************/

.live{
	background:
	radial-gradient(
		rgba(255,255,255,0.5),
		rgba(255,255,255, 0.5)
		),
	url("images/live.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color:black;
}

.article_recent {
	border: 1px solid black;
}


/*partenaires ***************************************/

.partenaires{
	background:
	radial-gradient(
		rgba(255,255,255,0.5),
		rgba(255,255,255, 0.5)
		),
	url("images/partenaires.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color:black;
	height:600px;
}


/************************************************/
/*************     Footer      **************/
/***********************************************/


#separation {background: #white;
	height : 10px;
}

.repere {	
	font-weight: bold;
	clear:both;
	position:fixed;
	bottom:0;
	width:100%;
}

.white {
	color:#F3F4F3;
}

.centre {
	padding-top: 10px;
}

.sousmenu{
	display: inline-block;
	text-decoration: none; 
	font-size: 14px;
	margin-right:20px;
	border-right: 1px solid white;
}

.sousmenu:hover {
	display: inline-block;
	text-decoration: none; 
	font-size: 18px;
	margin-right:20px;
	border: 1px solid white;
	background-color: #F5C159;
	opacity: 0,2;
	margin-bottom: 15px;
}

#click:hover{
	display: inline-block;
	text-decoration: none; 
	font-size: 18px;
	margin-right:20px;
	border: 1px solid white;
	background-color: #F5C159;
	opacity: 0,2;
	margin-bottom: 15px;
}

.taille{
	font-size: 14px;
}

#space{
	margin-left: 40px
}

.orange_clair{color:#F5C159;}

/*.logopart{margin: 60px 60px 60px 100px;}*/
.logopart{
	margin-top: 80px;
}

@media (max-width: 320px) {  /*small mobile*/
  .logopart img {
    width:80%;
  }
}
